.div {
    margin-top: 10px;
}

#form {
    width: 600px;
}

.data_professional {
    margin-top: 30px;
}

.input {
    width: 400px;
}

.label {
    display: block;
}

.button {
    margin-top: 25px;
    margin-left: 6px;
    width: 75px;
    height: 25px;
    font-size: 15px;
    
}